.loader{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px dashed #C06ECC;
    margin-left: 40%;
    margin-top: 30%;
    animation: rotate 1s infinite linear;
}

@keyframes rotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}