.orders_main {
    margin: 30px;
    height: 90%;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: #434652;
}

.orders_head {
    height: 18%;
    text-align: right;
    font-size: 16px;
}

.order_butt_confirm {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    background-color: #C06ECC;
    border: #C06ECC;
    color: white;
    border-radius: 6px;
    width: 272px;
    height: 48px;
    cursor: pointer;
    margin-left: 7px;
}

.order_butt_close {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    background-color: white;
    border: 1px solid #D0D3DA;
    color: #37393D;
    border-radius: 6px;
    width: 272px;
    height: 48px;
    cursor: pointer;
    margin-right: 7px;
}

.ordersBody {
    display: flex;
    flex-direction: column;
    height: 82%;
}

.orders_descr {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    background-color: #F8F8FA;
    border: 2px solid white;
    border-bottom-color: #EBECEF;
    border-top-color: #EBECEF;
    align-items: center;
    height: 7%;
    justify-content: space-between;
}

.orders_section {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 2px solid white;
    border-bottom-color: #EBECEF;
    height: 70px;
    cursor: pointer;
}

.orders {
    height: 769px;
    overflow: auto;
}

.orders::-webkit-scrollbar {
    width: 2px;
}

.orders_name {
    text-align: left;
    width: 185px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.orders_number {
    text-align: left;
    width: 177px;
}

.orders_delivery {
    text-align: left;
    width: 177px;
}

.orders_date {
    text-align: left;
    width: 160px;
}

.orders_total {
    text-align: left;
    width: 130px;
}

.orders_isPayed {
    text-align: left;
    width: 130px;
}

.orders_products {
    display: flex;
    flex-direction: column;
    margin-bottom: 35px;
    padding: 5px;
    border: 2px solid white;
    border-bottom-color: #EBECEF;
}

.orders_ins_product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    font-size: 12px;
}

.orders_ins_product_price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.orders_modal_descr {
    text-align: left;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    width: 640px;
    color: #363535;
}

.orders_descr_head {
    display: flex;
    flex-direction: row;
    padding-left: 70px;
    padding-right: 70px;
    justify-content: space-between;
    align-items: center;
    height: 101px;
    border: 2px solid white;
    border-bottom-color: #EBECEF;
}

.orders_descr_body {
    height: 840px;
    margin: 20px 10px 20px 20px;
    overflow: auto;
}

.orders_descr_body::-webkit-scrollbar {
    width: 7px;
    border-radius:100px;
    background: #E9EBEF;
    margin-left: 10px;
}

.orders_descr_body::-webkit-scrollbar-thumb {
    background-color:#B9BABE;
    border-radius:100px;
}

.orders_descr_change{
    color: #C06ECC;
    margin-bottom: 35px;
    cursor: pointer;
}

.orders_descr_select{
    width: 586px;
    margin-bottom: 15px;
    margin-top:10px
}

.orders_descr_inp{
    width: 560px;
    height: 24px;
    border-radius: 8px;
    border: 1px solid #D0D3DA;
    padding: 10px 12px 10px 12px;
    gap: 8px;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 15px;
}
.orders_descr_large_inp{
    width: 560px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #D0D3DA;
    padding: 10px 12px 10px 12px;
    gap: 8px;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 15px;
}