.clients_main {
    margin: 30px;
    height: 90%;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: #434652;
}

.clients_head {
    height: 18%;
    color: #414348;
    text-align: right;
    font-size: 16px;
}



.clients_body {
    display: flex;
    flex-direction: column;
    height: 82%;
}

.clients_descr {
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    background-color: #F8F8FA;
    border: 2px solid white;
    border-bottom-color: #EBECEF;
    border-top-color: #EBECEF;
    align-items: center;
    justify-content: space-between;
    height: 7%;
}

.clients_body_ins {
    overflow: auto;
    height: 580px;
}

.clients_body_ins::-webkit-scrollbar {
    width: 12px;
}

.clients_body_section {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 2px solid white;
    border-bottom-color: #EBECEF;
    height: 10%;
}

.clients_descr_ins {
    padding-left: 10px;
    text-align: left;
    width: 320px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.clients_descr_mail {
    text-align: left;
    width: 320px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.clients_descr_categ {
    text-align: left;
    width: 320px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.menu {
    cursor: pointer;
    width: 47px;
    height: 32px;
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
    border: 1px solid #D0D3DA;
    border-radius: 4px;
    background-color: white;
}