.search_form {
  border: 1px solid #d0d3da;
  width: 310px;
  height: 35px;
  border-radius: 8px;
  gap: 8px;
  background-repeat: no-repeat;
  background-position: 15px center;
  background-size: 14px 14px;
  text-align: center;
  font-size: 14px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.search_input {
  width: 310px;
  height: 35px;
  border-radius: 8px;
  gap: 8px;
  background-image: url("./loop.jpg");
  background-repeat: no-repeat;
  background-position: 15px center;
  background-size: 14px 14px;
  font-size: 14px;
  border: none;
  outline: none;
  padding-left: 50px;
}

.search_form_button {
  border: none;
  height: 55px;
  cursor: pointer;
  background-color: white;
  background-image: url("Vector.png");
  background-position: center;
  background-repeat: no-repeat;
}
